.image1
{
	float:left;
	width:40px;
	height:20%;
}
.image2
{
	float:right;
	width:40%;
	height:100%;
}
.life
{
	margin-left:20px
}
p
{
	font-size:20px;
}
h3
{
	font-size:30px;
}
ul{
	font-size:15px;
}
