<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 2 meta tags should come first in the head; any other head content should come *after* these tags -->

    <!-- Bootstrap -->

    <!-- Latest compiled and minified bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="apcs.css">
  <title>APCS</title>
  
  </head>
  <body>
    <!--nav bar-->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">CSA</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="index.html">Home</a></li>
          <li><a href="ECS.html">ECS</a></li>
          <li class="active"><a href="APCS.html">APCS</a></li>
		  <li><a href="CompArt.html">CompArt</a><li>
		  <li><a href="Mobile.html">Mobile</a><li>
		  <li><a href="DSW.html">DSW</a><li>
		<li><a href="placementQuiz.html">Placement</a><li>
        </ul>
      </div>
    </nav>
    <div class="life">
    <!--page content-->
    <h1>APCS</h1>
    <h2><img src = "adams.jpg" alt="adams">
			Sky Adams</h2>
			<h3>Description of this course:</h3>
	<P>In this course you will learn more about computer science! You will learn Java in this class and it will be a lot harder than ECS.<br>
	The first thing you will learn in this class is to know the logic of each code and how it works.<br>
	You will basically learn java throughout the whole year.</P>
	<ul>
		<li>Unit 1: Computer Systems</li>
		<li>Unit 2: Object Oriented Programming</li>
		<li>Unit 3: Java Syntax, Style, and Math</li>
		<li>Unit 4: Boolean Expressions and if-else Statements</li>
		<li>Unit 5: Algorithms and Iterative Statements</li>
		<li>Unit 6: Classes and Objects</li>
		<li>Unit 7: Strings</li>
		<li>Unit 8: Class Hierarchies and Interfaces</li>
		<li>Unit 9: Arrays</li>
		<li>Unit 10: ArrayLists</li>
		<li>Unit 11: Searching and Sorting</li>
	</ul>
	<h3><b>Example:</b></h3>
	</div>
	<div class="image1">
	<img src="apcs code.jpg">
	</div>
	<div class="image2">
	<img src="apcs example.jpg">
	</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>
{% extends "layout.html" %}
{% set active_Page = "APCS" %}
{% block teacher %}adams.jpg{% endblock %}
{% block teachername %}Ms. Adams{% endblock %}
{% block description %}In this course you will learn more about computer science! You will learn Java in this class and it will be a lot harder than ECS.<br>
	The first thing you will learn in this class is to know the logic of each code and how it works.<br>
	You will basically learn java throughout the whole year.{% endblock %}
{% block content %}
{% unit 1 %}Computer Systems{% endblock %}
{% unit 2 %} Object Oriented Programming{% endblock %}
{% unit 3 %}Java Syntax, Style, and Math{% endblock %}
{% unit 4 %}Boolean Expressions and if-else Statements{% endblock %}
{% unit 5 %}Algorithms and Iterative Statements{% endblock %}
{% unit 6 %} Classes and Objects{% endblock %}
{% unit 7 %}Strings{% endblock %}
{% unit 8 %} Class Hierarchies and Interfaces{% endblock %}
{% unit 9 %}Arrays{% endblock %}
{% unit 10 %}ArrayLists{% endblock %}
{% unit 11 %}Searching and Sorting{% endblock %}
{% set active_Page = "DSW" %}
{% block example1 %}apcs code.jpg{% endblock %}
{% block example2 %}apcs example.jpg{% endblock %}
<h1>DSW</h1>
{% endblock %}
