<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 2 meta tags should come first in the head; any other head content should come *after* these tags -->

    <!-- Bootstrap -->

    <!-- Latest compiled and minified bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="apcs.css">
  <title>APCS</title>
  
  </head>
  <body>
    <!--nav bar-->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">CSA</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="index.html">Home</a></li>
          <li><a href="ECS.html">ECS</a></li>
          <li class="active"><a href="APCS.html">APCS</a></li>
		  <li><a href="CompArt.html">CompArt</a><li>
		  <li><a href="Mobile.html">Mobile</a><li>
		  <li><a href="DSW.html">DSW</a><li>
		<li><a href="placementQuiz.html">Placement</a><li>
		 <li {% if active_Page == "CompArt" %} class = "active" {% endif %}><a href=".">CompArt</a></li>
            <li {% if active_Page == "ECS" %} class = "active" {% endif %}><a href="ECS">ECS</a></li> <!-- p1 will show up in the url -->
            <li {% if active_Page == "APCS" %} class = "active" {% endif %}><a href="APCS">APCS</a></li>
	     <li {% if active_Page == "DSW" %} class = "active" {% endif %}><a href="DSW">DSW</a></li>
            <li {% if active_Page == "Mobile" %} class = "active" {% endif %}><a href="Mobile">Mobile</a></li> 
        </ul>
      </div>
    </nav>
    <div class="life">
    <!--page content-->
    <h1>APCS</h1>
    <h2><img src = "{{url_for('static',filename={% block teacher %}{% endblock %})" alt="teacher">
      <--"adams.jpg"-->
			{% block teachername %}{% endblock %}</h2>
			<h3>Description of this course:</h3>
	<p>{% block description %}{% endblock %} In this course you will learn more about computer science! You will learn Java in this class and it will be a lot harder than ECS.<br>
	The first thing you will learn in this class is to know the logic of each code and how it works.<br>
	You will basically learn java throughout the whole year.</p>
	<ul>
		<li>Unit 1:{% unit 1 %}{% endblock %} </li>
		<li>Unit 2: {% unit 2 %}{% endblock %} </li>
		<li>Unit 3: {% unit 3 %}{% endblock %} </li>
		<li>Unit 4: {% unit 4 %}{% endblock %} </li>
		<li>Unit 5: {% unit 5 %}{% endblock %} </li>
		<li>Unit 6: {% unit 6 %}{% endblock %} </li>
		<li>Unit 7: {% unit 7 %}{% endblock %} </li>
		<li>Unit 8: {% unit 8 %}{% endblock %} </li>
		<li>Unit 9: {% unit 9 %}{% endblock %} </li>
		<li>Unit 10: {% unit 10 %}{% endblock %} </li>
		<li>Unit 11: {% unit 11 %}{% endblock %} </li>
	</ul>
	<h3><b>Example:</b></h3>
	</div>
	<div class="image1">
	<img src="{{url_for('static',filename={% block example1 %}{% endblock %})" "apcs code.jpg">
	</div>
	<div class="image2">
	<img src="{{url_for('static',filename={% block example2 %}{% endblock %})" "apcs example.jpg">
	</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>

