<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 2 meta tags should come first in the head; any other head content should come *after* these tags -->

    <!-- Bootstrap -->

    <!-- Latest compiled and minified bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="mobile.css">
	  <title>Mobile</title>
  
  </head>
  <body>
    <!--nav bar-->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">CSA</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="index.html">Home</a></li>
          <li><a href="ECS.html">ECS</a></li>
		  <li><a href="APCS.html">APCS</a><li>
		  <li><a href="CompArt.html">CompArt</a><li>
          <li class="active"><a href="Mobile.html">Mobile</a></li>
		  <li><a href="DSW.html">DSW</a><li>
		<li><a href="placementQuiz.html">Placement</a><li>
        </ul>
      </div>
    </nav>
	<div class="life">
    <!--page content-->
    		<h1>Mobile</h1>
    		<h2><img src = "muhl.jpg" alt="filler">
			Paul Muhl</h2>
				<h3>Mobile programming it is the pinnacle of computer science classes students at Santa Barbara High School can take. In this class students are taught in the ways of Swift by Mr. Muhl.<br>
					Due to the fact that students taking this class are likely to be third or forth year Computer Science Academy students they will be moving at a quick rate through View Controllers, Storyboard, Sprite kit, and More to master what is likely going to be their easiest language to learn yet.<br>
					Being in the language of swift students taking this class are going to be programming apps for the ever popular series of iphone and Apple products.<br>
					This class is meant for the experienced vetrans of the CSA and shouldn't be taken lightly by anyone, but will likely be one of if not your most enjoyable class at Santa Barbara High School.</P>
	<ul>
		<li>Unit 1:</li>
		<li>Unit 2:</li>
		<li>Unit 3:</li>
	</ul>
	</div>
	<div class="image1">
	<img src="mobilecode.jpg">
	</div>
	<div class="image2">
	<img src="mobile.jpg">
	</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>
