<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta class="viewport" content="width=device-width, initial-scale=1">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src= "quiz.js"></script>
	<link rel = "stylesheet" href= "quiz.css">
    <!-- The above 2 meta tags should come first in the head; any class head content should come *after* these tags -->

    <!-- Bootstrap -->

    <!-- Latest compiled and minified bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="style.css">
  <title>Placement Quiz</title>
  
  </head>
  <body>
    <!--nav bar-->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">CSA</a>
        </div>
          <ul class="nav navbar-nav">
	    <li><a href="index.html">Home</a></li>
            <li><a href="ECS.html">ECS</a></li>
            <li><a href="APCS.html">APCS</a></li>
			<li><a href="CompArt.html">CompArt</a><li>
			<li><a href="Mobile.html">Mobile</a><li>
		    <li><a href="DSW.html">DSW</a><li>
		  <li class="active"><a href="#">Placement</a></li>
          </ul>
      </div>
    </nav>
    
    <!--page content-->
    <h2>Placement Quiz</h2>
		<tr id="quest1">
		<p1>
				<td>
					<p>Question #1: Have you taken a computer science class before?</p>
					<input type="radio" class="ECS" name="1" >No, i'm new at this.</input><br>
					<input type="radio" class="APCS" name="1" >Yes, I took a class once...</input><br>
					<input type="radio" class="Mobile" name="1" >Yes, I have taken 2 classes.</input><br>
					<input type="radio" class="Mobile" name="1" >I've taken far more than two classes, i'm a vetran.</input>
					<br>
				</td>
			</tr>
			<br>
		<tr id="quest2">
				<p2>
				<td>
					<p>Question #2: What coding languages do you know?</p>
					<input type="radio" class="ECS" name="2" >None, i'm new at this.</input><br>
					<input type="radio" class="CompArt" name="2" >I know scratch or snap.</input><br>
					<input type="radio" class="APCS" name="2" >I've learned processing and/or HTML.</input><br>
					<input type="radio" class="Mobile" name="2" >I have learned some java and/or python.</input><br>
					<input type="radio" class="Mobile" name="2" >All or a combonation of the languages stated above.</input><br>
				</td>
		</tr>
		<br>
		<tr id="quest3">
		<p3>
				<td>
					<p>Question #3: How many years have you attended the Computer Science Academy ?</p>
					<input type="radio" class="ECS" name="3" >I'm a new or perspective CSA student.</input><br>
					<input type="radio" class="APCS" name="3" >I have been in the academy since the begining of the last school year.</input><br>
					<input type="radio" class="Mobile" name="3" >The academy has been my home for over one year.</input><br>
					<input type="radio" class="Mobile" name="3" >This is my last year in high school and in the academy.</input><br>
					<br>
		</tr>
		<br>
		<tr id="quest4">
		<p4>
				<td>
					<p>Question #4: Do you prefer coding front end or back end (aka what people see or what happens in the background)?</p>
					<input type="radio" class="ECS" name="4" >I don't even know what you are talking about.</input><br>
					<input type="radio" class="CompArt" name="4" >I like to make things look nice and be colorful or cool (with math).</input><br>
					<input type="radio" class="" name="4" >Back end is best working on functionality and logic.</input><br>
				</td>
		</tr>
		<br>
		<tr id="quest5">
		<p5>
				<td>
					<p>Question #5: What is the highest level Computer Science classes have you taken at this school?</p>
					<input type="radio" class="ECS" name="5" >None at this yet.</input><br>
					<input type="radio" class="APCS" name="5" >I have taken ECS</input><br>
					<input type="radio" class="Mobile" name="5" >I have taken APCS</input><br>
					<input type="radio" class="Mobile" name="5" >I have taken Web Design</input><br>
					<input type="radio" class="Mobile" name="5" >All of the above.</input><br>
					<input type="radio" class="CompArt" name="5" >I have taken Mobile Programming</input><br>
					<input type="radio" class="DSW" name="5" >I have taken Computational Art.</input><br>
					<br>
				</td>
			</tr>
		</p5>
		<button type="submit"  class ="q5">Enter</button>
		
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
  <h1 id = "ECSAlert">You fit well into the beginners class of Exploring Computer Science. It is taught by Ms. Adams and covers both processing and HTML. It is a great starter course.</h1>
		<h1 id = "CompArtAlert">You fit well into the beginners class of Computational Art. It is taught by Mr. Johnston and focuses on the artistic side of coding. This class is taught in the language of processing and provides art credit, it is a great starter course.</h1>
		<h1 id = "APCSAlert">AP Computer Science is a medium level course that mainly sophmores and some juniors take. It is a class taught by Ms. Adams in the language of Java and focuses mainly on the background coding in Computer science.</h1>
		<h1 id = "APCSAlert">Designing software for the web could be the course for you. It is a relatively new class taught by Ms. Adams and focuses mainly on the languages of HTML and Python. It is a medium level class that focuses both on the front end and back end types of coding. It is a good class over all</h1>
		<h1 id = "MobileAlert">So you have finally made it to mobile programming. Both the teacher Mr. Muhl and I welcome you to the top computer science class at are school. This high level class is taught in the programming language of swift and is the highest course our academy has to offer.You'll have fun.</h1>
</html>
