<html>
	<head>
		<link rel = "stylesheet" href="PortTemplate.css">
	</head>
		<body>
			<center><h1>Recursion</h1></center>
				<center><h1>Welcome to the recursion page</h1></center>
					<table border ="15" colspan="2" width="90%" height="80%">
						<tr>
							<th colspan="4" bgcolor="gray" width="350%" valign="top"  align="0">
								<font face="Times New Roman" color="Black" size="5">
									<iframe width="1300" height="750" src="http://snap.berkeley.edu/snapsource/snap.html#present:Username=kennyhong&ProjectName=koch%20curve" frameborder="0" allowfullscreen></iframe>
										<p>
											A recursion process is one which objects are defined in terms of other objects of the same type.
											Basically a rescursion block is a functions that can create a triangle or square in a loop.
											A loop is something repeating over and over.
											There's a base case, recursive rule, and reduction in the recursion.
											A base case is the starting or ending point of any recursion.
											It will stop the recursive calls and begins the compulations.
											A recursive rule is the calls of the function you are defining in its own code.
											A reduction causes your program to progress towards the base case at all times.
											On the left you will see a program running and that's the Sierpinski Triangle.
											On the top right corner you might see a minimize button and click it.
											As soon when you click it you will see the program is running.
											When one program is running you will see it shines.
											On the left of Serpinski Triangle is the Koch Curve and by stopping the program all you need is to click the stop button on the top right corner.
											Then you can explore the blocks and on the right you will see the power block and factorial block.
											Both factorial block and power block are both recursion block and 5^4 is 625.
											You can test the program by putting numbers inside the block.
											And this is my brief explanation of recursion.
										
										</p>
								</font>
							</th>
						</tr>
					</table>
						<div class="main">
							<div class="sidebar">
								<ul>
									<li><a href="index.html">Index</a></li>
									<li><a href="recursion.html">Recursion</a></li>
									<li><a href="condition.html">Conditional</a></li>
									<li><a href="functions.html">Functions</a></li>
									<li><a href="loops.html">Loops</a></li>
									<li><a href="list.html">List</a></li>
								</ul>
							</div>
						</div>
					
		</body>
</html>
